/SeinfieldCalendar/bin
/SeinfieldCalendar/obj
/SeinfieldCalendar/Properties

/SeinfieldCalendar/icon.ico
/.vs

SeinfieldCalendarApp.sln
LICENSE

/packages
SeinfieldCalendar/Data/
SeinfieldCalendar/data.db
SeinfieldCalendar/packages.config
